html {
	font-family: "Segoe UI";
	line-height: 1.3;
	box-sizing: border-box;
}

*,*::after, *::before {
	box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom:.7rem;
}

.content {
	min-height: calc(100vh - 92px);
}

/*** header ***/
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: .1rem;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-bottom: 1rem;
	background-color: #fff;
	border-bottom: 1px solid #d1d1d1;
	border-radius: 5px;
	box-shadow: 0 15px 20px -10px rgba(0, 0, 0, .2);
}

.logo {
	margin-top: 0;
	margin-right: auto;
	font-weight: 400;
}

.logo:hover {
	cursor: pointer;
}

.header-right {
	margin-right: 1rem;
}

.btn {
	display:inline-block;
	font-weight:400;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	border:1px solid;
	padding:.375rem .75rem;
	font-size:1rem;
	line-height:1.5;
	border-radius:.3rem;
	color:#37bf4b;
	border-color:#37bf4b!important;
	text-decoration: none;
}
.btn:hover {
	color:#fff;
	background-color:#37bf4b;
	border-color:#37bf4b;
}
.btn:focus {
	box-shadow:0 0 0 .1rem rgba(55,128,3,.5);
}

.text-dark {
	color:#4e5761;
	padding:.5rem;
	text-decoration: none;
}
.text-dark:focus {
	color:#0e1012;
}
.text-dark:hover {
	color:#0e1012;
	text-decoration: underline;
}

/*** footer ***/

footer {
	display: block;
	border-top: 1px solid #d1d1d1;
	box-shadow: 0 -5px 15px -5px rgba(0, 0, 0, .2);
	border-radius: 5px;
}

.footer-text {
	margin-left : 0.5rem;
	margin-right : 0.5rem;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	color:#6c757d;
}
.footer-right {
  float: right;
}

/*** main content index.php ***/
.mainpage {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: relative;
}

.grid-header {
	text-align: center;
	font-weight: 400;
	font-size: 170%;
}

.grid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	flex-wrap: wrap;
}

.grid-content {
	display: inline-block;
	flex-grow: 1;
	width: 47%;
	min-width: 400px;
	padding: 0 15px;
	margin: 30px 0 0 0;
	text-align: justify;
}

.num {
	margin-top: 10px;
	margin-right: 10px;
	width: 100px;
	height: 100px;
	float: left;
}

.grid-text {
	display: block;
	padding: 0 .5rem;
	margin-bottom: 2rem;
}

/*** banner ***/
.banner {
	background: url(../img/banner.jpg) center center;
	height: 330px;
}

.banner-text-big {
	color: #fff;
	font-size: 170%;
	padding-left: 1rem;
	padding-top: 2.5rem;
	max-width: 45%;
}

.banner-text-small {
	color: #fff;
	font-size: 130%;
	padding-left: 1rem;
	max-width: 45%;
}

/*** sign-in ***/
#gray {
	display: none;
	background-color: rgba(1,1,1, 0.75);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
}

#window {
	display: none;
	width: 350px;
	margin: 40px auto;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 15px;
	z-index: 150;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}

.sign-in-form {
	margin: -15px auto 20px auto;
	text-align: center;
}

.registration {
	width: 450px;
	margin: 40px auto;
}
.reg-form {
	margin: -15px auto 20px auto;
	text-align: center;
}

.input {
	width: 87%;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid lightgray;
	border-radius: 5px;
}
.close {
	margin: 15px 0 -15px 320px;
	cursor: pointer;
}

.close:hover {
	margin: 16px 0 -16px 319px;
	border: 1px solid lightgray;
}

.fadein {
  animation: showBG .2s linear forwards;
}

@keyframes showBG {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeout {
  animation: closeBG .2s linear forwards;
}

@keyframes closeBG {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scalein {
  animation: showForm .25s linear forwards;
}

@keyframes showForm {
  0% {
    transform: scale(2);
		opacity: 0;
  }
	10% {
		transform: scale(1.1);
		opacity: 0.1;
	}
  100% {
    transform: scale(1);
		opacity: 1;
  }
}

.scaleout {
  animation: closeForm .1s linear forwards;
}

@keyframes closeForm {
  0% {
  	transform: scale(1);
		opacity: 1;
  }
	25% {
		opacity: .8;
	}
  100% {
    transform: scale(.8);
		opacity: 0;
  }
}

/* about */
.panel {
	max-width: 1150px;
	margin: 20px auto;
	text-align: justify;
}

.panel-text {
	margin: 10px 10px;
}

.cardbar {
	display: flex;
	flex-wrap: wrap;
}

.card {
	flex-grow: 1;
	width: 28%;
	min-height: 200px;
	min-width: 300px;
	padding: 10px 20px;
	background-color: #fff;
	cursor: default;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	border-radius: 5px;
}

.card-header {
	font-weight: 400;
	font-size: 150%;
	margin: 5px 0;
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .2)
}

/* control/test panel */
.main {
	display: flex;
	margin: 40px auto;
	max-width: 1050px;
}

.sidebar-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 200px;
	width: 230px;
	border: 1px solid #d7dbdd;
	border-radius: 5px;
	background-color: #fcfdfd;
	box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);
	padding: 10px;
}

.sidebar-item {
	cursor: pointer;
	padding: 10px 8px;
	font-size: 18px;
}

.sidebar-item:hover {
	background-color: #eef3f5;
	border-radius: 5px;
}

.control-panel {
	border: 1px solid #d7dbdd;
	border-radius: 5px;
	background-color: #fcfdfd;
	box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);
	margin: 0 30px;
	width: 100%;
	height: 650px;
}

.cp-content {
	display: flex;
	flex-direction: column;
	margin: 10px;
	width: calc(100% - 20px);
	min-height: calc(100% - 20px);
}

#tests {
	display: flex;
}
#editor_newtest {
	display: none;
}
#editor_edittest {
	display: none;
}
#editor_editquestion {
	display: none;
}
#editor_newquestion {
	display: none;
}
#editor_newanswer {
	display: none;
}
#editor_newuser {
	display: none;
}
#editor_newgroup {
	display: none;
}
#editor_results {
	display: none;
}
#users {
	display: none;
}
#groups {
	display: none;
}
#results {
	display: none;
}
#testlist {
	display: flex;
}
#opentest {
	display: none;
}
#starttest {
	display: none;
}
#endtest {
	display: none;
}

.cp-content a {
	display: inline-block;
	color: black;
}

.cp-content-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	vertical-align: middle;
	padding: 10px 8px;
	margin-bottom: 30px;
	font-size: 18px;
	background-color: #fcfdfd;
	box-shadow: 0 15px 15px -15px rgba(221, 221, 221, 1);
}

.cp-btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid;
	padding: 3px 5px;
	margin-top: -10px;
	border-radius: 3px;
	border-color: #d7dbdd;
	text-decoration: none;
}
.cp-btn:hover {
	background-color: #eef3f5;
	border-color: #eef3f5;
}
.cp-btn:focus {
	box-shadow:0 0 0 5px rgba(55,128,3,.5);
}

.cp-content-main {
	height: 530px;
	overflow-y: auto;
}

.cp-record {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	vertical-align: middle;
	padding: 20px 30px 10px 30px;
	margin: 10px;
	font-size: 18px;
	border-radius: 5px;
	box-shadow: 0 5px 5px -5px rgba(200, 200, 200, 1), 0 -5px 5px -5px rgba(200, 200, 200, 1);
}
.cp-record-text {
	display: inline-block;
	margin-top: -5px;
	width: 50%;
}

.cp-record-sidetext {
	display: inline-block;
	width: 30%;
}

.cp-record-title {
	box-shadow: 0 5px 5px -5px rgba(200, 200, 200, 1);
	margin-top: -20px;
	margin-bottom: 30px;
}

.cp-newtest {
	display: flex;
	flex-direction: column;
	padding: 20px 30px 10px 30px;
	margin: 10px;
	font-size: 18px;
	border-radius: 5px;
	box-shadow: 0 5px 5px -5px rgba(200, 200, 200, 1), 0 -5px 5px -5px rgba(200, 200, 200, 1);
}

.cp-newtest .input {
	width: 100%;
}

.cp-newtest .btn {
	color: black;
	background-color: #fcfdfd;
	border-color: #d7dbdd;
}

.label-checkbox {
	display: inline-block;
	cursor: pointer;
	position: relative;
	font-size: 16px;
}
